@tailwind base;
@tailwind components;
@tailwind utilities;

/* Form Input */
@layer components {
  .input-container {
    @apply mb-8 relative;
  }
  .input {
    @apply text-white rounded w-full text-base mb-2 px-4 py-2.5 bg-[#251c68];
  }
  .btn {
    @apply rounded-md bg-indigo-500 text-white transition-colors py-2 px-4 mx-auto block hover:bg-indigo-600 focus-visible:bg-indigo-600;
  }
}

/* Registration Form */
input::placeholder {
  font-size: inherit;
  color: rgba(255, 255, 255, 0.364);
}
p[role='alert'] {
  color: rgb(252, 68, 68);
  letter-spacing: 1px;
  padding-left: 0.2rem;
}

/* Scrollbar */

html {
  scrollbar-color: hsl(0, 0%, 67%) transparent;
  /* color-scheme: dark; */
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

/* .bookmarks-list-container {
  overscroll-behavior-y: contain;
  overflow-y: auto;
} */

/* Other */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  /* font-size: 16px; */
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  scrollbar-gutter: stable;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* display: flex; */
  /* place-items: center; */
  /* text-align: center; */
  width: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  display: inline-block;
  /* color: #646cff; */
}
a:hover {
  /* color: #535bf2; */
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  /* padding: 0.6em 1.2em; */
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* border-color: #646cff; */
  /* transition: border-color 0.25s; */
}
button:hover {
  /* border-color: #646cff; */
  /* border-color: #525aff; */
}
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  outline-offset: 4px;
}
